@charset "ISO-8859-1";
@media screen and (max-width:1600px){

header.top {
	border-style: solid;
	padding-top: 10px;
	padding-bottom: 5px;
	margin-left: 100px;
	margin-right: 100px;
}
header.top img#minimal5{
	float: left;
	width: 100px;
	height: 100px;
	margin-right: 120px;
	margin-left: 50px;
}

header.top h1#welcome {
	
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
	font-size: 58px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

nav{
	display: block;
	margin-top: 30px;
	margin-left: 37%;
}

ul{
	list-style-type: none;
	background-color: #f1f1f1;
	width: 46%;
}

li{
	display: inline;
	padding-right: 5px;
	padding-left: 5px;
}

li a.active{
	background-color: black;
    color: white;
}

li a:hover:not(.active) {
    background-color: #333333;
    color: white;
}

a{
	font-size: 25px;
	color: black;
	text-decoration: none;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
}

div{
	margin-left: 100px;
	margin-right: 100px;
}

#benvenuto{
	padding-top: 100px;
	text-align:center;
	font-size: 30px;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
}

footer{
	padding-left: 50px;
	padding-top: 20px;
	margin-top: 150px;
	height: 78px;
	width: 96%;
	color:white;
	background-color: #333333;
	float: left;
	font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
}

#copyright{
	background-color: #333333;
}
}

@media screen and (max-width:500px){
	
	header.top {
	   border-style: none;
    }
    
    header.top img#minimal5{
	   float: center;
	   width: 100px;
	   height: 100px;
   	   margin-right: 120px; 
	   margin-left: 60px;
    }
    
    header.top h1#welcome {
	   font-size: 0px;
	}
	
	nav{
   	   margin-top: 80px;
	   margin-left: 20%;
    }
    
    li{
	display: block;
	padding-right: 5px;
	padding-left: 5px;
    }
    
    ul{
	list-style-type: none;
	background-color: #f1f1f1;
	width: 65%;
    }
	
}



